@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doto Rounded';
  src: url('/fonts/doto/DotoRounded-Black.woff2') format('woff2'),
       url('/fonts/doto/DotoRounded-Black.woff') format('woff'),
       url('/fonts/doto/Doto-Rounded-Black.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F5F5F5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Doto Rounded', sans-serif;
  font-weight: 400;
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-family: 'Doto Rounded', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1;
}

#app {
  max-width: 768px;
  margin: 0 auto;
  padding: 0.5rem;
}